a{
    text-decoration: none;
    color: white;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #666666;
}

h1{
    color: #666666;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.first-head-element{
    font-size: 100%;
    transition: font-size 0.5s linear;
}

.first-head-element:hover{
    font-size: 150%;
}

.first-head{
    width: 30%;
    margin-left: 35%;
}

.second-head{
    width: 60%;
    margin-left: 20%;
}

.container{
    margin: 5% 0% 0% 5%;
    overflow:hidden;
    display: inline-block;
    height: 400px;
    transition: height 0.5s linear;
}

.text-right{
    display: inline-block;
}

.foto-right{
    margin-left: 10%;
}

.foto-left{
    padding-right: 5%;
    float: bottom;
}

.description{
    height: 400px;
    width: 450px;
    padding-left: 5%;
    padding-top: 5%;
}

.container:hover{
    height:450px;
}