ul{
    list-style-type : none;
}

a{
    text-decoration: none;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #666666;
}

h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

.first-head-element{
    font-size: 100%;
    transition: font-size 0.5s linear;
}

.first-head-element:hover{
    font-size: 150%;
}

.first-head{
    width: 30%;
    margin-left: 35%;
}

.second-head{
    width: 60%;
    margin-left: 20%;
}

.container{
    margin: 5% 5% 0% 5%;
    padding: 5%;
    background-color: #c33124;
    overflow:hidden;
}

.text-left{
    float: left;
    color: white;
}

.foto-right{
    margin-left: 10%;
}

.foto-left{
    float: left;
    padding-right: 5%;
}

.description{
    background-color: white;
    height: 400px;
    width: 450px;
    padding-left: 5%;
    padding-top: 5%;
}

