main{
    background-color: #c33124;
}

body{
    margin: 0px;
}

a{
    text-decoration: none;
    color: white;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #666666;
}

h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fixed{
    position: fixed;
    width: 100%;
}

.first-head-element{
    font-size: 100%;
    transition: font-size 0.5s linear;
}

.first-head-element:hover{
    font-size: 150%;
}

.first-head-table{
    width: 100%;
    padding-left: 35%;
    padding-right: 35%;
    background-color: white;
}

.second-head{
    padding-top: 11%;
    width: 60%;
    margin-left: 20%;
}

.third-head-element{
    color:#ffffff;
    font-size: 100%;
    transition: font-size 0.5s linear;
}

.third-head-element:hover{
    font-size: 150%;
}

.third-head-table{
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    background-color: #c33124;
}

.line{
    background-color: white;
    height: 5px;
}

.crop{
    overflow:hidden;
}

.fon{
    margin: -10% 0% -20% 0%;
}

.big-line{
    height: 100px;
    background-color: #ffffff;
}

.menu{
    overflow: hidden;
    margin: 2% 10% 0% 10%;
    width: 80%;
}

.part-menu{
    overflow: auto;
}

.product {
    background-color: #ffffff;
    float: left;
    height: 450px;
    width: 19%;
    margin: 1%;
    padding: 2%;
}

.product-name{
    margin-left:10%;
}

.product-foto{
    width: 100%;
}

.product-description{
    margin-left:0%;
}

ul{
    list-style-type : none;
}